
ul {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0px;
  height: 120px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #f2f4f5;
}

li {
  float: left;
}

li a {
  display: block;
  color: #c6c8ca;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: sans-serif;
}

li a:hover {
  background-color: #111111;
}
#project_page{
  height: 100%;
  width: 100%;
}
#project_name{
  color: limegreen;
  border: black;
  font-size: 1em;
  font-family: sans-serif;
}
thead{
  border-bottom: 1px solid lightgrey !important;
  display: table-caption;
}
#tbottom{
  border-bottom: 1px solid lightgrey;
}
th{
  color: #c6c8ca;
  font-family:sans-serif;
  font-size: 0.85em;
  padding: 0px 80px 8px 80px;
}
td{
  padding: 10px;
}
table{
  width: 100%;
  text-align: center;
  /*padding-left: 350px;*/
}
#createProject{
  color: white;
  border-radius: 20px;
  width: 24px;
  height: 20px;
  background-color: #67696b;
}
#projectHeader{
  padding-left: 80px;
  color: #565454;
  border: black;
  font-size: 1.5em;
  font-family: sans-serif;
}
#projectPanel{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0px;
}
